<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tomatoes.rotten.erkanerol.refactor" >

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FullScreenMovieActivity"
            android:label="@string/title_activity_full_screen_movie" >
        </activity>
        <activity
            android:name=".SearchMovieActivity"
            android:label="@string/title_activity_search_movie" >
        </activity>
    </application>

</manifest>
